extends ../layout

block content
  .admin-listings
    h4 List Of #{city} listings
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.admin-cities_table
      thead
        tr
          th Has Payment Data
          th Lat
          th Lng
          th Star rating
          th Reviews Count
          th New Listing
          th Action
      tbody
        each listing in listings
          tr
            td
              if listing.has_pricing_history
                span YES
              else
                span NO
            td #{listing.lat}
            td #{listing.lng}
            td #{listing.star_rating}
            td #{listing.reviews_count}
            td #{listing.is_new_listing}
            td
              a(href="listings/" + listing._id) Show history
